fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aiofiles
psycopg2-binary
gunicorn
supabase
